/* body */
body {
    background-color: pink; /* responsive design */
    background-image: linear-gradient(to top, #FE7F7E, #FEC6C5);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:first baseline;
    padding-top: 15px;
    
}

* {
    box-sizing: border-box;
}

/* main section */
#main {
    text-align: center;
    background-color: white;
    width: 700px;
    padding: 10px 10px 30px 10px; 
    box-shadow: 0 0 15px -5px black;
}

/* main heading */
h1 {
    font-family: serif, Georgia, 'Times New Roman', Times;
    font-weight: bold;
    font-size: 400%;
    margin: 0;
    padding: 10px;
}

/* list items */
#taskList {
    margin-right: 15%;
    text-align: center;
}

#taskList li {
    font-size: 35px;
    padding: 10px; 
    list-style: none; 
}

/* list items (contents only) */
#taskList li span {
    cursor: pointer; 
    padding: 10px;
    margin: 10px;
}

/* delete button (icons look different on a Mac) */
.deleteBtn {
    cursor: pointer;
    border: none;
    padding: 2px;
    font-size: 23px;
    background: none;
}
.deleteBtn:active {
    filter: brightness(0.5) contrast(1.3);
}

/* OK button */
#addTaskBtn {
    background-color: #EEEDEE;
    border-radius: 4px;
    font-size: 2rem;
    margin: 5px;
    padding: 1px 10px;
}
#addTaskBtn:hover {
    background-color: #E0E1E0;
}

/* input box */
#taskInput {
    border-radius: 3px;
    font-size: 2rem;
    width: 50%;
}

#taskInput:focus {
    outline: 2px solid #4f76f5; 
}

/* completed list items */
.completed {
    text-decoration: line-through;
    color: rgb(117, 116, 116);
}

/* completed text section */
#numOfCompletesText {
    font-size: 20px;
    margin-bottom: 40px;

}

/* warning message */
#warningMsg { 
    font-size: 1.4rem;
    margin-right: 5%;
    margin-top: 1%;
    color: red;
    font-style: italic;
}

.blinkWarningMsg {
        animation: blink 0.4s linear 2;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

